<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles-output.css">
  <title>Animations</title>
</head>

<body>
  <div class="States-Intro">
    <h1 class="Hover">Hover for purple background</h1>
    <p class="Active-P">Click On Me for Orange background</p>
    <input type="text" class="Focus" placeholder="Click in input to turn red"></input>
    <button type="button" name="button" class="Active">Click to see brief activation of color</button>
  </div>
  <div class="Practice-States">
    <button type="button" name="button" class="Click-Purple">Click Purple</button>
    <button type="button" name="button" class="Mouse-Green">Mouse-Green</button>
    <button type="button" name="button" class="Orange-Focus">Orange Focus</button>
  </div>
  <div>
    <button type="button" name="button" class="Animated-Button">Click Me</button>
  </div>
  <br />
  <div class="Transform">

  </div>
  <h1>An Image Gallery</h1>
  <div class="container">
    <div class="item red">
      <img src="https://preview.ibb.co/gQbzQ5/colt_steele_firemarshall.jpg" />
      <i class="fa fa-camera"></i>
    </div>

    <div class="item green">
      <img src="http://preview.ibb.co/kd9Esk/colt_steele_smugglerscave.jpg" />
      <i class="fa fa-cloud"></i>
    </div>

  <div class="Sun">

  </div>

  </div>

</body>

</html>
