<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mock Blog About</title>
  </head>
  <%- include("partials/header") %>
  <body>
    <h1>About</h1>
    <p><%= aboutContent %></p>
  </body>
  <%- include("partials/footer") %>
</html>
