<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("partials/header") %>
    <meta charset="utf-8">
    <title>Description</title>
  </head>
  <body>
    <h1><%= tit %></h1>
    <p><%= bod %></p>
  </body>
  <%- include("partials/footer") %>
</html>
