body{
  text-align: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  color: #FFF;
  line-height: 2;
  text-align:left;
}

h2 {
  font-weight: 900;
  font-family: 'Titillium Web', sans-serif;
}

h3 {
  font-family: 'Titillium Web', sans-serif;
}

p {
  color: #808080;
  font-size: 20px;
  line-height: 2.5;
  font-family: 'Titillium Web', sans-serif;
}

a {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

li {
  padding: 20px;
}

em {
  font-weight: 900;
}

footer {
  padding-top: 50px;
  background-color: #FFF;
}

#intro {
  background-color: #b1fc03;
  padding-bottom: 70px;
}

.container-fluid {
  padding: 3% 15% 3% 15%;
}

#brand {
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
}

#phone {
  height: 600px;
  width: 400px;
  transform: rotate(20deg);
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 10px;
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 20%;
}

#feature-summary {
  position: relative;
  padding: 7% 15%;
  background-color: #FFF;
  z-index: 3;
}

.icon {
  padding-top: 50px;
  display: block;
  margin: auto;
}

#review {
  padding: 7% 15%;
  background-color: #b1fc03;
  color: white;
}

#doggy-review {
  font-family: 'Merriweather', serif;
  font-size: 3.5rem;
  float: left;
}

.review-image {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#brand {
  background-color: #b1fc03;
}

.sponsor {
  padding: 50px;
}

#price {
  padding: 90px;
}

#plan {
  color: black;
  text-align:center;
}

.buy {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #b1fc03;
}

.expand-card {
  padding: 2% 2%;
}

#remind {
  background-color: #b1fc03;
  color: #FFF;
  padding-top: 100px;
  padding-bottom: 100px;
}

#remind-plan{
  text-align:center;
}

.butt {
  margin-left: 40px;
  margin-top: 40px;
}

#credits {
  color: #808080;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
}

/* Just a responsive feature for mobiles to help the image
@media screen and (max-width:1160px) {
  #phone {
    position: static;
    transform: rotate(0);
  }
  h1 {
    text-align: center;
  }
}
*/
