<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="styles.css" />
    <meta charset="utf-8" />
    <title>Todo List</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <h1>Todo <span>List</span></h1>
      <h2>A simple todo app made with node</h2>
    </header>

    <section class="form">
      <input
        type="text"
        id="todoInput"
        placeholder="Insert your task here..."
      />

      <ul class="list"></ul>
    </section>
  </body>
  <script type="text/javascript" src="public.js"></script>
</html>
